input,button {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid teal;
}

label {
	margin-right: 10px;
}

span {
	display: inline;
	color: red;
	margin-left: 10px;
	font-weight: 100;
	font-size: 15px;
}