body {
	max-width: 500px;
	background-color: #fff;
	margin: 0px auto 0px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	background: cornflowerblue;
	padding: 20px;
	color: #fff;
	font-family: sans-serif;
}

.active-link {
	background: teal;
}

ul {
	margin-left: -60px;
}

li {
	list-style: none;
	display: inline-block;
	padding-left: 10px;

}

input {
	background: #ddd;
	padding: 10px;
}